apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: task-manager
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/cheikhi51/Task-Manager-K8s.git
    targetRevision: HEAD
    path: task-manager
  
  destination:
    server: https://kubernetes.default.svc
    namespace: task-manager
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true