apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager-postgres-deployment
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: mohamed510/task-manager-postgres:latest
        ports:
        - containerPort: 5432
        envFrom:
        - configMapRef:
            name: task-manager-postgres-config
        - secretRef:
            name: task-manager-postgres-secret
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: postgres-data
        persistentVolumeClaim:
          claimName: task-manager-postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: task-manager-postgres
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432

